<div class="row">
  <div class="col-xs col-sm-10 col-md-8 offset-sm-1 offset-md-2">
    <form [formGroup]="recipeForm" action="" (ngSubmit)="onSubmit()">



      <div class="row">
        <div class="col-xs-12">
          <button type="submit" class="btn btn-success" [disabled]="!recipeForm.valid">Save</button>
          <button type="button" class="btn btn-danger" (click)="onCancel()">Cancel</button>
        </div>
      </div>

      <div formGroupName="recipeEssentials">

        <h2>Recipe Details</h2>

        <div class="form-group">
          <label for="name">Name</label>
          <input type="text" id="name" class="form-control" formControlName="name">
        </div>

        <div class="form-group">
          <label for="headline">Headline</label>
          <input type="text" id="headline" class="form-control" formControlName="headline">
        </div>

        <div class="form-group">
          <label for="imagePath">Image URL</label>
          <input type="text" id="imagePath" class="form-control" formControlName="imagePath" #imagePath>
        </div>

        <div class="form-group">
          <img [src]="imagePath.value" alt="" class="img-responsive headline-image">
        </div>

        <div class="form-group">
          <label for="description">Description</label>
          <textarea type="text" id="description" class="form-control" rows="6" formControlName="description"></textarea>
        </div>

      </div>

      <div formGroupName="recipeStats">

        <h2>Recipe Stats</h2>

        <div class="form-group">
          <label for="totalTime">Total Time</label>
          <input type="number" id="totalTime" class="form-control" formControlName="totalTime">
        </div>

        <div class="form-group">
          <label for="servingSize">Serving Size</label>
          <input type="number" id="servingSize" class="form-control" formControlName="servingSize">
        </div>

      </div>

      <div formGroupName="recipeAllegens">

        <h2>Recipe Allegens</h2>

        <label for="calories">Calories</label>
        <div class="input-group">
          <input type="number" id="calories" class="form-control" formControlName="calories">
          <div class="input-group-append">
            <span class="input-group-text">kcal</span>
          </div>
        </div>

        <label for="fat">Fat</label>
        <div class="input-group">
          <input type="number" id="fat" class="form-control" formControlName="fat">
          <div class="input-group-append">
            <span class="input-group-text">g</span>
          </div>
        </div>

        <label for="satFat">Sat Fat</label>
        <div class="input-group">
          <input type="number" id="satFat" class="form-control" formControlName="saturates">
          <div class="input-group-append">
            <span class="input-group-text">g</span>
          </div>
        </div>

        <label for="protien">Protien</label>
        <div class="input-group">
          <input type="number" id="protien" class="form-control" formControlName="protein">
          <div class="input-group-append">
            <span class="input-group-text">g</span>
          </div>
        </div>

        <label for="carbs">Carbs</label>
        <div class="input-group">
          <input type="number" id="carbs" class="form-control" formControlName="carbs">
          <div class="input-group-append">
            <span class="input-group-text">g</span>
          </div>
        </div>

        <label for="sugar">Sugar</label>
        <div class="input-group">
          <input type="number" id="sugar" class="form-control" formControlName="sugar">
          <div class="input-group-append">
            <span class="input-group-text">g</span>
          </div>
        </div>

        <label for="salt">Salt</label>
        <div class="input-group">
          <input type="number" id="salt" class="form-control" formControlName="salt">
          <div class="input-group-append">
            <span class="input-group-text">g</span>
          </div>
        </div>

        <label for="fibre">Fibre</label>
        <div class="input-group">
          <input type="number" id="fibre" class="form-control" formControlName="fibre">
          <div class="input-group-append">
            <span class="input-group-text">g</span>
          </div>
        </div>


      </div>




      <div class="row">
        <div class="col-xs-12" formArrayName="allergens">
          <div class="row" *ngFor="let allergenCtrl of formAllergens.controls; let i = index" [formGroupName]="i" style="margin-top: 10px;">
            <div class="col-xs-8">
              <input type="text" class="form-control" formControlName="name">
            </div>
            <div class="col-xs-2">
              <input type="number" class="form-control" formControlName="value">
            </div>
            <div class="col-xs-3">
              <button class="btn btn-danger" type="button" (click)="onDeleteAllergen(i)">X</button>
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-xs-12">
              <button class="btn btn-success" (click)="onAddAllergen()" type="button">Add allergen</button>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12" formArrayName="tags">
          <div class="row" *ngFor="let tagCtrl of formTags.controls; let i = index" [formGroupName]="i" style="margin-top: 10px;">
            <div class="col-xs-8">
              <input type="text" class="form-control" formControlName="name">
            </div>
            <div class="col-xs-2">
              <input type="number" class="form-control" formControlName="value">
            </div>
            <div class="col-xs-3">
              <button class="btn btn-danger" type="button" (click)="onDeleteTag(i)">X</button>
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-xs-12">
              <button class="btn btn-success" (click)="onAddTag()" type="button">Add tag</button>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12" formArrayName="nutrition">
          <div class="row" *ngFor="let stepCtrl of formSteps.controls; let i = index" [formGroupName]="i" style="margin-top: 10px;">
            <div class="col-xs-8">
              <input type="text" class="form-control" formControlName="name">
            </div>
            <div class="col-xs-2">
              <input type="number" class="form-control" formControlName="value">
            </div>
            <div class="col-xs-3">
              <button class="btn btn-danger" type="button" (click)="onDeleteStep(i)">X</button>
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-xs-12">
              <button class="btn btn-success" (click)="onAddStep()" type="button">Add step</button>
            </div>
          </div>
        </div>
      </div>



      <div class="row">
        <div class="col-xs-12" formArrayName="ingredients">
          <div class="row" *ngFor="let ingredientCtrl of formIngredients.controls; let i = index" [formGroupName]="i" style="margin-top: 10px;">
            <div class="col-xs-8">
              <input type="text" class="form-control" formControlName="name">
            </div>
            <div class="col-xs-2">
              <input type="number" class="form-control" formControlName="amount">
            </div>
            <div class="col-xs-2">
              <button class="btn btn-danger" type="button" (click)="onDeleteIngredient(i)">X</button>
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-xs-12">
              <button class="btn btn-success" (click)="onAddIngredient()" type="button">Add ingredient</button>
            </div>
          </div>
        </div>
      </div>


    </form>
  </div>
</div>



//this.name = name;
//this.headline = headline;
//this.description = desc;
//this.imagePath = imagePath;
//this.ingredients = ingredients;
//this.totalTime = totalTime;
//this.servingSize = servingSize;
//this.nutrition = nutrition;
//this.allergens = allergens;
this.steps = steps;
//this.tags = tags;

//this.averageRating = averageRating;
//this.ratingsCount = ratingsCount;
//this.favoritesCount = favoritesCount;
