h2, h3, h4 {
  font-family: Roboto, sans-serif;
}

h2 {
  font-size: 2rem;
}

h4 {
  font-size: 1rem;
}

.card {
  margin: 2rem;
  .card-header {
    background-color: white;
  }
}

#cover-image-container {
  margin: 0;
  .background-image-container {
    padding: 0;
    width: 100%;
    .full-width-image {
      background: no-repeat 50%/cover;
      display: block;
      height: 300px;
      width: 100%;
    }
    @media only screen and (min-width: 900px) {
      .full-width-image {
        height: 600px;
      }
    }
  }
}

#description-card {
  #recipe-details-column {
    display: flex;
    justify-content: center;
    flex-direction: column;
    #manage-recipe-button {
      justify-content: right;
    }
  }
}

#ingredients-card {
  #ingredient-list {
    text-align: center;
    .ingredient {
      padding: 1rem;
      width: 18rem;
      .ingredient-image {
        height: 70px;
        width: 70px;
      }
    }
  }
}

#steps-card {
  #steps-list {
    .step {
      padding: 0.5rem 0;
      .step-image {
        height: 120px;
        width: 120px;
      }
    }
  }
}

#nutrition-card {
  #nutrition-list {
    text-align: center;
    .nutrition-item {
      padding: 0.2rem;
      width: 12rem;
    }
  }
}

