<div id="cover-image-container" class="row">
  <div class="col-sm-12 background-image-container">
    <div class="full-width-image" [style.background-image]="'url(' + (recipeState | async).recipes[id].imagePath + ')'" ></div>
  </div>
</div>

<div id="description-card" class="card">
  <div class="card-header">
    <div class="row equal title-container">
      <div id="recipe-title-column" class="col-sm-9">
        <h2 id="recipe-name">{{ (recipeState | async).recipes[id].name }}</h2>
        <h4 id="recipe-headline">{{ (recipeState | async).recipes[id].headline }}</h4>
      </div>
      <div id="recipe-details-column" class="col-sm-3 test">
        <div id="manage-recipe-button" class="btn-group dropdown" ngbDropdown>
          <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" ngbDropdownToggle>
            Manage Recipe <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownManage" ngbDropdownMenu>
            <li class="dropdown-item"><a (click)="onAddToShoppingList()" style="cursor: pointer">To Shopping List</a></li>
            <li class="dropdown-item" (click)="onEditRecipe()" style="cursor: pointer"><a>Edit Recipe</a></li>
            <li class="dropdown-item" style="cursor: pointer" (click)="onDeleteRecipe()"><a>Delete Recipe</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="card-body">
    <div class="row description-container">
      <div class="col-md-8">
        <p id="recipe-description">{{ (recipeState | async).recipes[id].description }}</p>
        <p id="recipe-allegens">
          <b>Allergens: </b>
          <span> {{(recipeState | async).recipes[id].allergens.join(", ")}} </span>
        </p>
        <p id="recipe-tags">
          <b>Tags: </b>
          <span> {{(recipeState | async).recipes[id].tags.join(", ")}} </span>
        </p>
      </div>
      <div class="col-md-4 recipe-tags">
        <p><b>Serves: </b> {{ (recipeState | async).recipes[id].servingSize }}</p>
        <p><b>Preparation Time: </b> {{ (recipeState | async).recipes[id].totalTime }} minutes</p>
        <p>
          <b>Rating:
          </b> <ngb-rating [rate]="(recipeState | async).recipes[id].averageRating"></ngb-rating>
          - ({{ (recipeState | async).recipes[id].ratingsCount }} votes)</p>

      </div>
    </div>
  </div>
</div>

<div id="ingredients-card" class="card">
  <div class="card-header">
    <h3>Ingredients</h3>
  </div>
  <div class="card-body">
    <div class="row ingredients-list-container">
        <ul id="ingredient-list" class="list-inline">
          <li class="list-inline-item ingredient" *ngFor="let ingredient of (recipeState | async).recipes[id].ingredients">
            <div class="r-item media">
              <img class="mr-2 ingredient-image" [src]="ingredient.imagePath" [alt]="ingredient.name">
              <div class="media-body">
                <h4 class="list-group-item-heading ">{{ ingredient.amount }} {{ingredient.unit}}</h4>
                <p class="list-group-item-text ">{{ ingredient.name }}</p>
              </div>
            </div>
          </li>
        </ul>
    </div>
  </div>
</div>

<div id="steps-card" class="card">
  <div class="card-header">
    Steps
  </div>
  <div class="card-body">
    <ul id="steps-list" class="list-unstyled">
      <li class="media step" *ngFor="let step of (recipeState | async).recipes[id].steps">
        <img class="mr-2 step-image" [src]="step.imagePath" [alt]="step.imageCaption">
        <div class="media-body">
          <h5 class="mt-0">Step {{step.stepNumber}}</h5>
           {{step.instructions}}
        </div>

      </li>
    </ul>
  </div>
</div>

<div id="nutrition-card" class="card">
  <div class="card-header">
    Nutrition
  </div>
  <div class="card-body">
    <ul id="nutrition-list">
      <li class="list-inline-item nutrition-item" *ngFor="let nutrition of (recipeState | async).recipes[id].nutrition">
        <b>{{nutrition.name}}</b> {{nutrition.amount}} {{nutrition.unit}}
      </li>
    </ul>
  </div>
</div>

