<div class="row">
  <div class="col-xs-12 cover-image-container">
    <img [src]="(recipeState | async).recipes[id].imagePath" alt="{{ (recipeState | async).recipes[id].name }}"
         class="recipe-cover-image img-responsive">
  </div>
</div>

<div class="row title-container">
  <div class="col-xs-10">
    <h2>{{ (recipeState | async).recipes[id].name }}</h2>
  </div>
  <div class="col-xs-2">
    <div class="btn-group dropdown" ngbDropdown>
      <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" ngbDropdownToggle>
        Manage Recipe <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownManage" ngbDropdownMenu>
        <li class="dropdown-item"><a (click)="onAddToShoppingList()" style="cursor: pointer">To Shopping List</a></li>
        <li class="dropdown-item" (click)="onEditRecipe()" style="cursor: pointer"><a>Edit Recipe</a></li>
        <li class="dropdown-item" style="cursor: pointer" (click)="onDeleteRecipe()"><a>Delete Recipe</a></li>
      </ul>
    </div>
  </div>
</div>

<div class="row description-container">
  <div class="col-md-8 recipe-description">
    {{ (recipeState | async).recipes[id].description }}
  </div>
  <div class="col-md-4 recipe-tags">
    <p>Cooking Time</p>
    <p>Rating</p>
    <p>Tags</p>
  </div>
</div>

<div class="row ingredients-images-container">
  <div class="col-xs-12">
    <ul class="list-inline">
      <li class="list-inline-item" *ngFor="let ingredient of (recipeState | async).recipes[id].ingredients">
        <img [src]="(recipeState | async).recipes[id].imagePath" class="ingredient-image img-responsive">
        {{ ingredient.name }}
      </li>
    </ul>
  </div>
</div>

<div class="row ingredients-list-container">
  <div class="col-xs-12">
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let ingredient of (recipeState | async).recipes[id].ingredients">
        {{ ingredient.name }} - {{ ingredient.amount }}
      </li>
    </ul>
  </div>
</div>

<div class="row nutrition-container">
  <div class="col-xs-12">
    Nutrition
  </div>
</div>


<div class="row steps-container">
  <div class="col-xs-12">
    Steps
  </div>
</div>

