$fa-font-path : '../node_modules/font-awesome/fonts';
$icon-font-path: '../node_modules/bootstrap-sass/assets/fonts/bootstrap/';

$xs: 480px;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1800px;
