#sidebar {
  background-color: whitesmoke;
  border-right: 1px solid gray;
  min-height: 100%;
  padding: 0;
}

.recipes-container {
  height: 100%;
  overflow: auto;
}

.recipe-container {
  background-color: whitesmoke;
  height: 100%;
  overflow: auto;
  padding: 0;
}

.open-sidebar {
  box-shadow: 2px 2px 2px gray;
  background-color: white;
  border-radius: 100px;
  height: 4rem;
  left: 2rem;
  padding-top: 0.8rem;
  position: fixed;
  top: 4rem;
  width: 4rem;
  z-index: 5;
  &:hover {
    background-color: slategrey;
  }
}

.close-sidebar {
  float: right;
  padding-top: 0.8rem;
  width: 4rem;
  &:hover {
    color: pink;
  }
}
