.r-item {
  border-top: 1px solid lightgray;
  height: 100px;
  max-height: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
  img {
    max-height: 100px;
    min-width: 150px;
    max-width: 150px;
  }
  .media-body {
    height: 100%;
    overflow: hidden;
    padding: 0.5rem 1rem 0.5rem 0;
    text-overflow: ellipsis;
  }
  h4 {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  p {
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  &.active {
    background-color: lightblue;
  }
  &:hover {
    background-color: lightblue;
  }
}

