.form-control {
  width: 100%;
}
.form-group {
  margin-bottom: 2rem;
}
.sl-actions {
  display: block;
  margin-bottom: 0;
  text-align: right;
  .sl-action {
    float: none;
  }
}

@media (min-width: 992px) {
  .form-group {
    margin-bottom: 0;
  }
}
